attrs==20.3.0
coverage==5.5
decorator==4.4.2
GitPython==3.1.20
giotto-tda==0.5.1
importlib-metadata==3.7.2
iniconfig==1.1.1
joblib==1.0.1
networkx==2.5
node2vec==0.4.4
numpy==1.19.5
packaging==20.9
pandas==1.1.5
pluggy==0.13.1
py==1.10.0
pyarrow==2.0.0
pydata-sphinx-theme==0.6.3
pyparsing==2.4.7
pytest==6.2.2
python-dateutil==2.8.1
pytz==2021.1
scikit-learn==0.24.1
scipy==1.5.4
six==1.15.0
sklearn==0.0
threadpoolctl==2.1.0
toml==0.10.2
tqdm==4.59.0
typing-extensions==3.7.4.3
zipp==3.4.1
